html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

md-toolbar h1 {
  margin: auto;
  font-weight: 500;
}

#content {
  padding: 8px 40px 0px 40px;
}

#content .share {
  position: absolute;
  top: 0;
  right: 0;
}

md-list-item > button {
  width: 100%;
  text-align: left !important;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  margin: 0px;
  vertical-align: middle;
  zoom: 0.70;
  transform: translateZ(0);
  font-size: 128px;
}