<md-bottom-sheet>
	<md-subheader>
		Contact: <span class="name">{{vm.user.name}}</span>
	</md-subheader>

	<md-list>
		<md-item ng-repeat="item in vm.items">
			<md-button ng-click="vm.performAction()">
				<md-icon aria-label="{{item.name}}" class="material-icons">{{item.icon}}</md-icon>
				{{item.name}}
			</md-button>
		</md-item>
	</md-list>
</md-bottom-sheet>