<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body ng-app="MyApp" ng-cloak ng-controller="UserController as ul" layout="column">
  
  <md-toolbar layout="row">
    <md-button class="menu" ng-click="ul.toggleList()" hide-gt-sm aria-label="Show User List">
      <md-icon class="material-icons">menu</md-icon>
    </md-button>
    <h1>Angular Material Starter</h1>
  </md-toolbar>

  <div class="container" layout="row" flex>
    <md-sidenav md-is-locked-open="$mdMedia('gt-sm')" class="md-whiteframe-4dp" md-component-id="left">
      <md-list ng-click="ul.toggleList()">
        <md-list-item ng-repeat="u in ul.users">
          <md-button ng-click="ul.selectUser(u)">
            <md-icon aria-label="{{u.avatar}}" class="avatar material-icons">{{u.avatar}}</md-icon>
            {{u.name}}
          </md-button>
        </md-list-item>
      </md-list>
    </md-sidenav>
    <md-content id="content" flex>
      <md-icon aria-label="{{ul.selected.avatar}}" class="avatar material-icons">{{ul.selected.avatar}}</md-icon>
      <h2>{{ul.selected.name}}</h2>
      <p>
        {{ul.selected.content}}
      </p>
      <md-button class="share" md-no-ink aria-label="Share with {{ul.selected.name}}" ng-click="ul.share(ul.selected)">
        <md-icon class="material-icons">screen_share</md-icon>
      </md-button>
    </md-content>
  </div>

  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="app.js"></script>
  <script src="Users.js"></script>
  <script src="UserService.js"></script>
  <script src="UserController.js"></script>
</body>
</html>
